<mat-toolbar color="primary">
  <span>Generate App</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditEmpForm()">Add Class</button>
</mat-toolbar>

<div class="main-body">
  <div class="card-list">
    <div *ngFor="let cls of classes" cdkDrag class="mat-card">
      <mat-card class="class-card">
        <mat-card-header>
          <mat-card-title>{{ cls.className }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Attribute1:</strong> {{ cls.attribute1 }}</p>
          <p><strong>Attribute2:</strong> {{ cls.attribute2 }}</p>
          <p><strong>Attribute3:</strong> {{ cls.attribute3 }}</p>
          <p><strong>Function1:</strong> {{ cls.function1 }}</p>
          <p><strong>Function2:</strong> {{ cls.function2 }}</p>
          <p><strong>Type Class:</strong> {{ cls.typeClass }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="openAddEditEmpForm(cls)">Edit</button>
          <button mat-button color="warn" (click)="deleteClass(cls.id)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
